  body {
      margin: 0;
      width: 100vw;
      font-family: "Nunito", sans-serif;
      height: 100vh;
      overflow: hidden;
      box-sizing: border-box;
     scroll-behavior:smooth;
    }

    .heart {
      position: absolute;
      width: 20px;
      height: 20px;
      background: #feb7d5;
      transform: rotate(45deg);
      animation: floatUp 8s linear infinite;
    }

    #page-3 .heart {
      position: absolute;
      width: 20px;
      height: 20px;
      background: #feb7d5;
      transform: rotate(45deg);
      animation: floatUp3 8s linear infinite;
    }

     @keyframes floatUp3 {
      0% {
        transform: translateY(100vh) rotate(45deg);
        opacity: 1;
      }
      100% {
        transform: translateY(-10vh) rotate(45deg);
        opacity: 0;
      }
    }

    .heart::before,
    .heart::after {
      content: "";
      position: absolute;
      width: 20px;
      height: 20px;
      background: #feb7d5;
      border-radius: 50%;
    }

    .heart::before {
      top: -10px;
      left: 0;
    }

    .heart::after {
      left: -10px;
      top: 0;
    }

    @keyframes floatUp {
      0% {
        transform: translateY(100vh) rotate(45deg);
        opacity: 1;
      }
      100% {
        transform: translateY(-10vh) rotate(45deg);
        opacity: 0;
      }
    }

    #page-1{
        width:100vw;
        height:100vh;
        overflow: hidden;
      background-color: #ffecf4; /* Light pink */
    }

    .overlay-box{
        width:490px;
        height:200px;
        background-color: white;
        position:absolute;
        top:48%;
        left:50%;
        transform: translate(-50%,-60%);
        border-radius: 10px;
        z-index: 10;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 8px 20px;
        opacity: 0.9;
        box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
        gap:8px;
    }

    #page-1 i{
        font-size:40px;
        color:#FFCF40;
        display: block;
        margin-bottom: 5px;
    }

    h4{
        font-size: 24px;
        padding: 0;
        margin:0;
        animation: slideup 20s;
        animation-fill-mode: forwards;
        animation-timing-function:ease-in-out;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        height:70px;
        color:#222;  
    }

    .slideUp-box{
      height:70px;
      overflow: hidden;
      position: relative;
      z-index: 10;
    }

    .blur-top{
      width: 100%;
      position: absolute;
      z-index: 20;
      top: -10px;
      left: 0;
    }

  @keyframes slideup {
    0%{
      transform: translate(0,100%);
    }

    03%{
      transform: translate(0,0);
    }

    15%{
      transform: translate(0,0);
    }

    16%{
      transform: translate(0px,-100%);
    }

    35%{
      transform: translate(0px,-100%);
    }

    36%{
      transform: translate(0px,-200%);
    }

    60%{
      transform: translate(0px,-200%);
    }

    61%{
      transform: translate(0px,-300%);
    }

    80%{
      transform: translate(0px,-300%);
    }

    81%{
      transform: translate(0px,-400%);
    }

    100%{
      transform: translate(0px,-400%);
    }

  }

  .btn{
    padding:10px 28px;
    border-radius: 20px;
    cursor: pointer;
    display: inline-block;
    background-color: white;
    font-size: 15px;
    font-weight: 600;
    color:white;
    margin-right: 12px;
    transition: 0.4s;

    
  }

  .btn:first-child{
    background-color: #f501b8;
  }

  .btn:last-child{
    background-color: #9873FF;
    cursor: not-allowed;
  }

  .btn:hover{
    opacity: 0.8;
    transform: scale(1.03);
  }

.btn:active{
      transform: scale(0.92);
    }


@media screen and  (max-width:500px) {
    .overlay-box{
      width:85vw;

      & h4{
        font-size: 20px;
      }
    }
  }

.page2-container{
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
}

#page-2{
  background-color: #111;
  width:100vw;
  height:100vh;
  z-index: 10;
  position: relative;
  z-index: 1;
  transition: all 0.5s;

  & .light-on{
    display: flex;
    justify-content: center;
  }

  & .page2-btn{
    color:white;
    padding: 12px 160px;
    border-radius:30px;
    transition: 0.4s;
    cursor: pointer;
    font-size: 15px;
    display: flex;
    align-items: center;
    text-transform: capitalize;
    font-weight: 600;

    &:hover{
      opacity: 0.7;
    }

    &:active{
      transform: scale(0.92);
    }
  }

}

.btn-purple{
  background-color: #9873FF;

}

.btn-red{
  background-color: #f501b8;
}

.hide{
  display: none !important;
}


.not-allowed{
  cursor: not-allowed;
}


.top-lights-box{
  height:10%;
  width:100%;
  display: flex;
  justify-content: space-around;
}

.top-light{
  height:18px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  opacity: 0;
  transition: 0.5s;
  animation-name: blink;
  animation-duration: 1s;
  animation-iteration-count:infinite;
  animation-timing-function: linear;
  animation-direction: alternate-reverse;
  transform-origin: top;
}

@keyframes blink {
  0%{
    filter:brightness(0.9);
  }

  100%{
    filter:brightness(4);
  }
}

#page-2 i{
  margin-left: 1px;
}

audio {
  display: none;
}


.birthdayTag-box{
  display: flex;
  justify-content: center;
  margin-top: 20px;

  & img{
   width:38%;
   transform:scale(1,0) ;
   transition: all 0.5s;
   position: relative;
   transform-origin: top;
   }

}

.music-icon{
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 10px;
  font-size: 24px;
  color:#FFD061;
}

.ballon{
  width:22px;
  height:35px;
  border-radius: 50px 50px 0 0;
  margin:20px;
  position: absolute;
  z-index: 1;
  /* opacity: 0.7; */
  animation: ballonFloatUp 0s linear infinite;
}

.ballon::after{
  content: "";
  width: 1px;
  height:40px;
  background-color: #666666;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 10;
  transform: translate(11px,40px);
}


@keyframes ballonFloatUp{
  100%{
    opacity: 0;
    transform: translate(0, -10vh);
  }

  0%{
    opacity: 1;
    transform: translate(0, 100vh);
  }
}


.cake-img{
  display: flex;
  justify-content: center;
  margin-top: 80px;
}
.cake-img img{
  width:25%;
  transform:scale(0);
  transition: all 1s;
}


/* page3 */

#page-3{
  transform: scale(0);
  width:100vw;
  height:100vh;
  /* overflow: hidden; */
  z-index: 1;
  position: relative;
  
  & .container{
    width: 100%;
    margin: 0 auto;
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
  }
}

.page3heading-box{
  display :flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.page3heading{
  font-family:"Yellowtail", cursive;
  font-size: 55px;
  font-weight: 600;
  color: #f501b8;
  transform: rotate(355deg);
  transform-origin: center;
  display: inline-block;
  text-align: center;
}

.page3overlay{
  width: 65%;
  margin: -13px auto 35px;
  padding: 12px 50px;
}

.page3overlay>p{
  color: #575757;
  text-align: center;
  font-size: 17px;
}

.page3Part2{
  display: flex;
}

.carousel{
  display:flex;
   animation-name: slide;
  animation-duration: 60s;
  animation-iteration-count:infinite;
  animation-timing-function: linear;
}


#page-3 .card{
  min-width:270px;
  height:370px;
  padding:6px;
  background-color: #fe6bda7d;
  border-radius: 10px;
  margin-right: 50px;
  cursor: pointer;

  & img{
    width:100%;
    height:85%;
    border-radius: 10px;
    object-fit: cover;
  }

  & h5{
    color:white;
    font-family:"Yellowtail", cursive;
    font-weight: 300;
    text-align: center;
    font-size: 20px;
    vertical-align:middle;
    margin-top: 12px;
  }
}

@keyframes slide {

  0%{
    transform: translateX(0%);
  }

  100%{
    transform: translateX(-100%);
  }
  
}

video{
  width: 100%;
  height:85%;
  object-fit: cover;
  border-radius: 10px;
}

@media (max-width:500px) {
     .page2-btn {
        white-space: nowrap;
        width: 95%;
        height: 50px;
        text-align: center;
        justify-content: center;
        padding: 0 !important;
    }

    .banner {
        width: 120vw !important;
        margin-top: 10px;
    }

    .cake-img img {
    width: 95%;
  }

  .cake-img {
    display: flex;
    justify-content: center;
    margin-top: 10vh;
  }

  .overlay-box {
    height: 170px;
  }

  .slideUp-box{
    height: 85px;
    margin:0;
  }

  .slideUp-box h4 {
    height:84px;
    font-size:5.5vw;
  }

  #page-3{
  transform: scale(0);
  width:100vw;
  height:160vh;
  z-index: 1;
  position: relative;
  overflow-x: hidden;
  overflow-y:scroll;

  }

  @keyframes floatUp3 {
      0% {
        transform: translateY(160vh) rotate(45deg);
        opacity: 1;
      }
      100% {
        transform: translateY(-10vh) rotate(45deg);
        opacity: 0;
      }
    }

    .page3part1{
      height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .page3heading{
      padding:10px;
    }

    .page3Part2{
      display: flex;
      height:50vh;

  }

}




    
